@font-face {
    font-family: felixTitling;
    src: url('../Fonts/FELIXTI.TTF');
}
@font-face {
    font-family: latoRegular;
    src: url('../Fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: latoMed;
    src: url('../Fonts/Lato-Medium.ttf');
}
@font-face {
    font-family: latoMedium;
    src: url('../Fonts/Lato-Light.ttf');
}
@font-face {
    font-family: latoBold;
    src: url('../Fonts/Lato-Bold.ttf');
}
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #fffef2;
	letter-spacing: 3px;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: felixTitling;
}
h1,h2,h3,h4,a,button{
    text-transform: uppercase;
}
h1{
    font-size: 3rem;
    line-height: 3.5rem;
    color: #ffff;
}
h2{
    font-size: 2.5rem;
    line-height: 2.9rem;
    margin-bottom: 37px;
    color: #fff;
}
p{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #636363;
    font-family: latoRegular;
}

button{
    color: #fff;
    background: #243230;
    border-radius: 5px;
    padding: 16px 28px;
    font-size: 16px;
    font-family: latoMedium;
    border: none;  
}

.grey-border-btn:hover{
    background: #fff !important;
    transition: 0.5s ease;
	border: 1px solid #243230 !important;
    color: #243230 !important;
}

/************     Header     ************/
header{
    padding-top: 68px;
    position: absolute;
    width: 100%;
    z-index: 999;
    padding-top: 90px;
    background: none;
    left: 0;
    top:0;
    text-align: center;
}
header .logo{
    font-size: 72px;
    margin-bottom: 70px;
    color: #fff;
    font-family: latoBold;
    display: block;
    text-align: center;

}
header .navbar{
    background-color: transparent !important;
	border-bottom: 1px solid #FFFEF280;
	padding-bottom: 0;
}
header .navbar.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 18px;
    margin: 0 18px ;
    font-family: latoRegular;
    padding-bottom: 25px;
    border-bottom: 2px solid transparent;
}
header .navbar.navbar-light .navbar-nav .nav-link:hover,header .navbar.navbar-light .navbar-nav .active{
    border-bottom: 2px solid #0EE3C4;
}
header .navbar.navbar-light .navbar-nav{
    justify-content: center;
    width: 100%;
    
}



/************     Banner      ************/
.banner h1{
    width : 670px;
    margin: 0 auto;
    margin-bottom: 54px;
}
.banner .banner-carousel{
    position: relative;
}

.banner .banner-carousel .carousel-item button{
    color: #fff;
    background: #243230;
    border-radius: 5px;
    padding: 16px 28px;
    font-size: 16px;
    
}
.banner-carousel .carousel-item,.banner-carousel figure{
    position: relative;
}
.banner-carousel figure::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,0.5);
}
.banner-carousel .carousel-caption{
    text-align: center;
    bottom: 10.35rem;
}
.banner .banner-carousel .carousel-item button.right-corer-btn{
    padding: 28px 40px;
    position: absolute;
    border-radius: 5px;
    right: -63px;
    top: 67%;
	transform: translateY(-50%) rotate(-90deg);
  /* Additional cross-browser prefixes, if needed */
  -webkit-transform: translateY(-50%) rotate(-90deg); /* Safari */
  -ms-transform: translateY(-50%) rotate(-90deg);     /* IE */
    border: 1px solid #FFFEF2;
}
.banner .banner-carousel .carousel-indicators{
    padding-bottom: 60px;
}
.banner .banner-carousel .carousel-indicators button{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.3);
    margin-right: 12px;

}
.banner .banner-carousel .carousel-indicators button.active{
    background-color: #fff;
}


.about-us{
    padding: 129px 0 108px 0;
}
.about-us h2{
    color: inherit;
}
.about-us p{
    width: 537px;
}
.about-us button{
    margin-top: 50px;
}
.about-us .about-image-wrapper{
    position: relative;
    padding-top: 300px;
}
.about-us .about-image-wrapper figure{
    width: 101%;
    position: relative;
    z-index: 1;
	width: 345px;
}
.about-us .about-image-wrapper figure img{
	border-radius: 5px;
}
.about-us .about-image-wrapper figure:nth-child(1){
    left: 288px;
    bottom: 169px;
    z-index: 2;
    position: absolute;
}


/*****************    Promotions ***************/
.promotions{
    background-color: #243230;
    padding: 74px 0;
    text-align: center;
}
.promotions span{
    font-size: 14px ;
    line-height: 16px;
    color: #fff;
    display: block;
    font-family: latoMedium;
	letter-spacing: 3px;
    padding-bottom: 22px; 
}
.promotions h2{
    margin: 0 auto;
    margin-bottom: 67px;
    color: #F0E5D6;
    width: 600px;
    
}
.promotions .carousel-wrapper{
    position: relative;
}
.promotions .promotion-carousel::after{
    content: "";
    width: 162px;
    height: 65px;
    background-image: url(../images/caousel-side-bg.png);
    top: -90px;
    right: -182px;
    position: absolute;
    display: inline-block;

}
.promotions .promotion-carousel::before{
    content: "";
    width: 162px;
    height: 65px;
    background-image: url(../images/caousel-side-bg.png);
    bottom: 58px;
    left: -200px;
    position: absolute;
    display: inline-block;

}
.promotions .promotion-carousel .owl-item{
    position: relative;
    margin-bottom: 80px;
    transition: 0.5s ease;
}
.promotions .promotion-carousel .owl-item .content-area{
    background: #fff;
    padding: 35px;
    position: absolute;
    width: 348px;
    bottom: -74px;
    left: 24px;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
}
.promotions .promotion-carousel .owl-item .content-area .hover-area{
    display: none;
    transition: 0.5s ease;
	padding-top: 28px;
}
.promotions .promotion-carousel .owl-item .content-area:hover .hover-area{
    display: block;
    transition: 0.5s ease;
    
}
.promotions .promotion-carousel .owl-item .content-area h4, .events .card-body h4{
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #243230;
    
}
.promotions .promotion-carousel .owl-item .content-area p{
    color: #636363;
}
.promotions .promotion-carousel .owl-item .content-area a{
    padding: 14px 27px;
    text-align: center;
    color: #fff;
    background: #243230;
    border-radius: 5px;

    display: inline-block;
    margin-top: 48px;
}
.promotions .promotion-carousel .owl-nav{
    opacity: 0;
}
.promotions .custom-nav button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;     
    color: inherit;      
    cursor: pointer;    
    outline: none;
    position: absolute;
    top: 35%;
    transform: translate(-50%);
}
.promotions .custom-nav button#prev{
    left: -105px;
	
}
.promotions .custom-nav button#next{
    right: -190px;
}


/*******************     Events   *****************/
.events{
    padding: 70px;
}
.events h2, .gallery h2{
    color: inherit;
    text-align: center;
}
.events .event-cards{
    padding-bottom: 70px;
    

}
.events .event-cards .card{
    border-radius: 5px;
    box-shadow: 3px 4px 30px 0px #00000033;
}
.events .event-cards .card-body,.events .event-cards .card-footer{
    padding: 24px 30px;
}
.events .event-cards .card-body span{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
.events .event-cards .card-body h4{
    margin-bottom: 14px;
}
.events .event-cards .card-body p{
    margin-bottom: .8rem;
}
.events .event-cards .card-footer{
    background-color: #243230;
    position: relative;
    
}
.events .event-cards .card-footer a{
    color: #fff;
    font-size: 14PX;
    line-height: 25px;
    font-family: latoMedium;
    display: block;
}
.events .event-cards .card-footer a:hover img{
    transform: scale(1.1);
}
.events .event-cards .card-footer span{
    width: 230px;
    display: inline-block;
}
.events .event-cards .card-footer IMG{
    WIDTH: 50PX;
    position: absolute;
    right: 10px;
}

.events button{
    margin: 0 auto;
    width: 180px;
    display: block;
}

/************       gallery **************/
.gallery{
    padding: 75px 0;
    background-color: #243230 ;
    color:  #fff;
}
.gallery img {
    width: 100%;
    margin: 3px 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}
.gallery .nav-tabs{
    border-bottom: none;
}
.gallery .nav-tabs li{
    padding: 0 20px;
    font-family: latoMedium;
}
.gallery .nav-tabs li.nav-link {
    padding-bottom: 10px;
     
}
.gallery .nav-tabs li .nav-link{
    border: none;
    border-bottom: 2px solid transparent;
    color: #fff;
}
.gallery .nav-tabs li .nav-link:hover,.gallery .nav-tabs li .nav-link.active{
    border: none;
    background: none;
    border-bottom: 2px solid #0EE3C4;
    background-color: none;
    border-radius: 0;
}
.gallery-items .col-4{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.footer{
    padding-top: 72px;
    color:#243230 ;
}
.footer .footer-logo{
    font-size: 72px;
    margin-bottom: 30px;
    display: inline-block;
    color:#243230 ;
    font-family: latoRegular;
}
.footer p{
    width: 570px;
    margin-bottom: 60px;
}
.footer button{
    padding: 23px 61px;
}
.footer .location-sec{
    padding: 33px 0;
}
.footer .location-sec h3{
    font-size: 20px;
    font-family: latoMed;
    padding-bottom: 25px;
}
.footer .location-sec span{
    display: block;
}
.footer h2{
    color:  #243230 ;
}
.footer form{
    position: relative;
}
.footer form input{
    background: #F2F1E3;
    font-size: 16px;
    padding: 18px 25px;
    border: none;
    width: 100%;
    border-radius: 5px;
}
.footer form button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 19PX 61PX;
}
.footer .social-media-list{
    display:  flex;
    padding: 90px 35px;
}
.footer .social-media-list li{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #243230;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-footer{
    border-top: 0.5px solid #B6B6B6;
    padding: 38px 0;
    font-family: latoMedium;
}
.sub-footer .footer-menu{
    display: flex;
}
.sub-footer .footer-menu a{
    padding: 0 10px;
    color: #000000;
}



@media (max-width: 1600px){
	h1{
		font-size: 2.7rem;
		line-height: 3.2rem;
	}
	header{
		padding-top: 50px;
	}
	header .logo{
		font-size: 65px;
		margin-bottom: 50px;
	}
    .promotions .custom-nav button img{
		width: 65px;
	}
    .promotions .promotion-carousel .owl-item .content-area h4, .events .card-body h4{
		font-size: 1.3rem;
	}
	.banner h1{
		width: 690px;
	}

    .promotions .carousel-wrapper{
         padding: 0 50PX;
    }
    .promotions .custom-nav button#prev {
        left: -10px;
    }.promotions .custom-nav button#next {
        right: -70px;
    }
}
@media (max-width: 1400px){
    h1{
        font-size: 2rem;
        line-height: 3.2rem;
    }
    p {
        font-size: 1.15rem;
        line-height: 1.5rem;
    }

    header {
        padding-top: 35px;
    }
    header .logo {
        font-size: 50px;
        margin-bottom: 30px;
    }
    header .navbar.navbar-light .navbar-nav .nav-link{
        font-size: 16px;
        margin: 0 13px;
    }
    .banner h1{
        margin-bottom: 35px;
    }
    .banner-carousel .carousel-caption{
        bottom: 8.35rem;
    }
    .banner .banner-carousel .carousel-item button.right-corer-btn{
        padding: 20px 30px;
        right: -61px;
    }
    .about-us .about-image-wrapper figure{
        width: 250px;
    }
    .about-us .about-image-wrapper {
        position: relative;
        padding-top: 230px;
    }
    .about-us .about-image-wrapper figure:nth-child(1){
        left: 140px;
    }
    .about-us .about-image-wrapper{
        padding-left: 40px;
        padding-top: 200px;
    }
    .about-us .about-image-wrapper figure:nth-child(1){
        left: 190px;
        bottom: 140px;
    }
    .promotions .carousel-wrapper{
        padding: 0 100px;
    }

    .promotions .promotion-carousel::before,.promotions .promotion-carousel::after{
        background: none;
    }
    .promotions .custom-nav button img{
        width: 55px;
    }
    .promotions .custom-nav button#prev {
        left: 40px;
    }
    .promotions .custom-nav button#next{
        right: -10px;
    }
    .promotions .promotion-carousel .owl-item .content-area h4, .events .card-body h4 {
        font-size: 1.2rem;
    }
    .promotions .promotion-carousel .owl-item .content-area{
        padding: 25px;
        bottom: -55px;
    }
    .footer p{
        width: auto;
    }
}
@media (max-width: 1200px) {
    .banner .banner-carousel .carousel-indicators{
        padding-bottom: 30px;
        
    }
.promotions h2{
     width: auto;
}
    .banner-carousel .carousel-caption{
        bottom: 7rem;
    }
    .about-us p {
        width: auto;
    }
    .about-us .about-image-wrapper figure {
        width: 210px;
    }
    .about-us .about-image-wrapper {
        padding-left: 50px;
        padding-top: 154px;
    }
    .about-us .about-image-wrapper figure:nth-child(1) {
        left: 172px;
        bottom: 83px;
    }
    .about-us{
        padding: 90px;
    }
    .promotions .custom-nav button img{
        width: 45px;
    }
    .promotions .custom-nav button#next {
        right: -3px;
    }
    .promotions .promotion-carousel .owl-item .content-area{
        width: auto;
    }
    .promotions .promotion-carousel .owl-item .content-area{
        width: 290px;
    }
    .promotions .promotion-carousel .owl-item .content-area h4, .events .card-body h4 {
        font-size: 1rem;
    }
    .promotions .promotion-carousel::before,.promotions .promotion-carousel::after{
        background: none;
    }
    .events {
        padding: 40px;
    }
    .events .event-cards .card-footer span{
        width: 140PX;
        font-size: 12PX;
        line-height: 22px;
    }
    .events .event-cards .card-footer IMG{
        width: 37px;
    }
    .gallery .nav-tabs li{
        padding: 10px;

    }
    .gallery .nav-tabs{
        justify-content: center;
    }
    h2 {
        font-size: 2rem;
        line-height: 2.7rem;
    }
    .footer .footer-logo {
        font-size: 55px;
        margin-bottom: 30px;
    }
    .footer form button{
        padding: 19px 45px;
    }
    .footer button {
        padding: 17px 38px;
    }
    .sub-footer .footer-menu a {
        padding: 7px;
    }
    .sub-footer .footer-menu{
        flex-wrap: wrap;
    }
    .footer .social-media-list {
        display: flex;
        padding: 50px 20px;
    }
    .gallery img{
        margin: 0;
    }
}
@media(max-width: 991px){
    body{
        font-size: 1rem;
        line-height: 1.8rem;
    }
    .about-us .about-image-wrapper figure{
        padding: 13pz 28px;
    }
    p {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    .events .event-cards .card-footer span{
        width: 207px;
    }
    .events .event-cards .card-body, .events .event-cards .card-footer {
        padding: 18px 21px;
    }
    header{
    background-color: #fffef2;
    }
    header .logo {
        position: absolute;
        color: #212529;
        font-size: 30px;
    }
    header {
        padding: 20px 0 40px 30px;
    }
    .navbar-light .navbar-toggler{
        border: none;
    }
    header .navbar.navbar-light .navbar-nav .nav-link{
        color: #212529;
    }
    .navbar-light .navbar-toggler{
        position: absolute;
        top: 0;
        right: 15px;
    }
    header .navbar.navbar-light .navbar-nav .nav-link:hover, header .navbar.navbar-light .navbar-nav .active{
        border-bottom: none;
    }
    h1 {
        font-size: 1.7rem;
        line-height: 2.8rem;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 2.3rem;
    }
    .banner h1{
        width: 595px;
    }
    .banner-carousel .carousel-caption {
        bottom: 3rem;
    }
    .banner .banner-carousel .carousel-item button{
        padding: 12px 25px;
     font-size: 13px;
    }
    .banner .banner-carousel .carousel-indicators {
        padding-bottom: 10px;
    }
    .banner .banner-carousel .carousel-item button.right-corer-btn {
        padding: 13px 20px;
        right: -48px;
    }
    .navbar-collapse{
        padding-top: 50px;
    }
    
    header .navbar.navbar-light .navbar-nav .nav-link{
        padding: 15px;
    }
    header .navbar.navbar-light .navbar-nav .nav-link:hover, header .navbar.navbar-light .navbar-nav .active{
        background: #242500;
        color: #fff;
        
        border-radius: 10px;
    }
    .about-us {
        padding: 55px 0;
    }
    .about-us .about-image-wrapper figure{
        WIDTH: 152PX;
    }
    .promotions .carousel-wrapper {
        padding: 0 40px;
    }
    .promotions .custom-nav button img {
        width: 30px;
    }
    
    .promotions .custom-nav button#prev {
        left: 3px;
    }
    .promotions .custom-nav button#next {
        right: -26px;
    }
       
     .promotions .promotion-carousel .owl-item .content-area {
        width: 236px;
    }
    .promotions .promotion-carousel .owl-item .content-area h4, .events .card-body h4 {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .promotions .promotion-carousel .owl-item .content-area{
        padding: 20px;
        bottom: -40px;
    }
    .promotions{
        padding: 53px 0;
    }
    .promotions .promotion-carousel .owl-item .content-area a{
        padding: 10px 20px;
        font-size: 12px;
    }
    .footer button {
        padding: 14px 23px;
    }
    .footer form input{
        font-size: 14px;
        padding: 14px 25px;
    }
    .footer form button {
        padding: 14px 10px;
        font-size: 14px;
    }
    .footer .social-media-list li {
        width: 35px;
        height: 35px;
    }
    .footer .social-media-list li img{
        width: 100%;
    }
        
    .footer .social-media-list li {
        width: 35px;
        height: 35px;
        padding: 10px;
    }

}
@media (max-width: 767px) {
    body{
        font-size: 0.8rem;
        line-height: 1.8rem;
    }
    button{
        padding: 6px 39px;
    }
    .banner-carousel .carousel-caption{
        bottom: 1.5rem;
        display: block !important;
    }
    .banner h1 {
        width: 400px;
        font-size: 1.3rem;
        line-height: 2.3rem;
    }
    .banner h1 {
        margin-bottom: 15px;
    }
    .banner .banner-carousel .carousel-indicators{
        display: none;
    }
    .banner .banner-carousel .carousel-item button{
        padding: 4px 25px;
    }
    .banner .banner-carousel .carousel-item button{
        padding: 5px 20px;
    }
    .about-us .about-image-wrapper figure {
        WIDTH: 206PX;
    }
    .about-us .about-image-wrapper{
        padding-left: 75px;
    }
    .about-us .about-image-wrapper figure:nth-child(1) {
        left: 210px;
        bottom: 90px;
    }
    .about-us .about-image-wrapper figure:nth-child(1) {
        left: 210px;
        bottom: 90px;
    }
    .promotions .promotion-carousel .owl-item .content-area {
        width: 340px;
    }
    .promotions {
        padding: 53px 0 0;
    }
    .events .event-cards .card{
        margin-bottom: 20px;
    }
    .events .event-cards {
        padding-bottom: 13px;
    }
    .gallery {
        padding: 45px 0;
    }
    .gallery .mt-5{
        margin-top: 1rem;
    }
    .gallery .nav-tabs li {
        padding:0  8px;
    }
    .footer .footer-logo {
        font-size: 45px;
        margin-bottom: 35px;
    }
    .footer{
        padding: 60px;
    }
    .footer button {
        width: 200px;
        padding: 9px 23px;
        margin: 0 auto;
        display: block;
    }
    .footer form button{
        padding: 8px 10px;
    }
    .footer form input {
      
        padding: 8px 25px;
    }
    .footer .social-media-list{
        justify-content: center;
    }
    .footer {
        padding: 40px 0 20px;
    }
}
@media (max-width:575px) {
    body{
        font-size: 0.6rem;
        line-height: 1.4rem;
    }
    header .navbar.navbar-light .navbar-nav .nav-link {
        padding: 10px;
        padding: 8px;
        font-size: 14px;
    }
    .about-us .about-image-wrapper {
        padding-left: 90px;
    }
    .about-us .about-image-wrapper figure {
        WIDTH: 115PX;
    }
    .about-us .about-image-wrapper figure:nth-child(1) {
        left: 161px;
        bottom: 51px;
    }
    .about-us .about-image-wrapper {
        padding-top: 95px;
    }
    .promotions .custom-nav{
        display: none;
    }
    .promotions .carousel-wrapper{
        padding: 0;
    }
    .promotions .promotion-carousel .owl-item .content-area {
        width: 205px;
    }
    .promotions .promotion-carousel .owl-item .content-area h4, .events .card-body h4 {
        font-size: 0.7rem;
        line-height: 1.3rem;
    }
    .banner-carousel .carousel-caption{
        display: none !important;
    }
    .banner .banner-carousel .carousel-item button.right-corer-btn{
        display: none;
    }
    .banner .banner-carousel .carousel-indicators{
        display: flex;
        padding-bottom: 0;
    }
    .banner .banner-carousel .carousel-indicators button{
        width: 8PX;
        height: 8PX;
        margin-right: 8px;
    }
    .about-us {
        padding: 35px 0;
    }
    h2{
        margin-bottom: 20px;
    }
    .promotions .promotion-carousel .owl-dots{
        padding-bottom: 15px;
    }
    .promotions .promotion-carousel button.owl-dot {
        width: 8px;
        border-radius: 5px;
        height: 8px;
        border: 1px solid #fff !important;
        margin-left: 8px;
    }
    .promotions .promotion-carousel button.owl-dot.active{
        background: #fff;
    }
    .footer form button {
        width: 100%;
        position: relative;
        margin-top: 20px;
    }
    .sub-footer .footer-menu{
        display: block;
        margin-top: 15px;
        text-align: center;
    }
    .events .event-cards .card-footer span {
        width: 140px;
    }
    .events .event-cards .card-footer span {
      
        font-size: 10PX;
        line-height: 19px;
    }
}